.socialshare,
.advertisment,
.adban,
.listad,
.ad_wrapper,
div[data-native_ad],
a[title="Share on Twitter"],
a[onmousedown^="this.href='https://paid.outbrain.com/network/redir?"][target="_blank"],
.mashsb-container,
#ad_content,
.sharebar,
.icon-facebook-squared,
#share_button,
.socialwrap,
.vl-header-ads,
.custom-ad,
a[href^="https://www.facebook.com/dialog/share?"],
.full-ad,
.ads_div,
.ADBAR,
a.mrc__plugin_like_button,
.socialfooter,
.page-share:not(body),
#side-ad,
.ads-inline,
a[href^="https://go.xxxjmp.com"],
.btn-share,
.share-links,
.sns_kakao,
.post-ads,
[id^="adv-"]:not(#adv-settings),
.post-share,
a[href^="https://api.whatsapp.com/send/"],
.wall-ads-right,
.adWrapper,
.article-sharing,
a[onclick^="window.open('http://b.hatena.ne.jp/add?"],
.showads,
.menu-ads,
[id^="commentAd"],
.ad_caption,
#vk_donate,
a[href^="http://www.linkedin.com/shareArticle"],
.advertorial,
a[href^="http://twitter.com/home?"],
[id^="aswift_"],
.skype-share,
.AdCenter,
.adxs-vertisements,
.et_social_twitter,
[id^="ad_global"],
#topbannerad,
#bannerads,
#social-buttons,
.social-nav,
#AD_Top,
.ads-link,
a[href^="http://plus.google.com/share"],
.ads-list,
.adslot,
a[href^="fb-messenger://share"],
.adace-slot-wrapper,
.adsBlock,
.gadContainer,
.ad-icon,
.adsense-wrapper,
a[href*="//b.hatena.ne.jp/entry/"],
#advertContainer,
#TopBannerAd,
form[action*="livejournal.com/update.bml"],
.sfsi_widget,
#fwdevpDiv0,
.ad_block,
#kakaostory-follow-button,
[href^="https://ad.admitad.com/"],
.has-fixed-bottom-ad,
.ad-box:not(#ad-banner),
.container-ads,
.adsense-container,
.ad-bar,
a[href^="http://www.facebook.com/sharer/sharer.php"],
a[href^="//api.whatsapp.com/send?text="],
.mobile-ad,
.adplacement,
.heart-button,
.js-sidebar-ads,
.with-background-ads,
.share-box,
.sticky-ad,
#banner-top,
.quads-location,
.jeg_ad,
a[href^="http://wow.ya.ru/posts_share_link.xml"],
#google_ads,
a[onclick^="window.open('https://www.facebook.com/sharer.php"],
.social-tools,
.m-ad,
#socialize,
.ad-position,
#social_block,
.block-sponsor,
a[href^="http://twitter.com/intent/tweet?"],
.ad-title,
input.tweet,
#adLink1,
.social-count,
.social-box,
.sidebar-ad,
.social_facebook,
#ads-banner,
#adsiframe,
iframe[width="600"][height="90"],
a[href="https://www.addtoany.com/share"],
a[href*="//share.naver.com/"],
#FooterAd,
a[href^="http://www.twitter.com/intent/tweet?"],
a[href^="http://twitter.com/home/?"],
.jnews_header_top_ads,
.adstop,
.TopBannerAd,
#ads-wrapper,
.socialButtons,
a[href^="https://ndt5.net/"],
#adDiv,
#header-social,
.adtag,
.ads_top,
#related_ads,
#adsensewide,
.is-sponsored,
.share-wrap,
#advert-box,
.main-ads,
a[href^="http://www.facebook.com/plugins/like.php"],
a[href^="https://www.reddit.com/submit"],
.adverttext,
.article__share,
.adshome,
a[href="http://www.simplesharebuttons.com"],
a[href^="https://www.twitter.com/share"],
.share_bar,
a[onclick^="window.open('http://vkontakte.ru/share.php"],
.greyAd,
#footer-ads,
.adver,
.ad-placeholder,
#rightAdsDiv,
.banner_ads,
#ad-overlay,
a[href*="//lineit.line.me/share/"],
.social-hatena,
#advert1,
.full-width-ad,
.fa-tumblr-square,
.social-roll,
a[href^="http://reddit.com/submit?url="],
#centerads,
.home-ad,
img[width="240"][height="400"],
.ADwidget,
.ads-section,
img[width="240px"][height="400px"],
.sp-ad,
.ad_unit,
.a-d-v-i,
a[href^="//pinterest.com/pin/create/"],
.top-ad-wrapper,
.adLink,
#ad_leader,
a[onclick^="window.open('http://twitter.com/home?status"],
#ads-col,
a[href*="//line.naver.jp/R/msg/text/"],
[href^="http://www.mypillow.com/"]>img,
.ad728x90,
.header-ads,
#top-ad,
.Ad-Container,
amp-social-share,
.ads-large,
.box-radvert,
.widget-ad,
.ad-row,
amp-addthis,
display-ad-component,
a[href^="https://pinterest.com/pin/create/"],
a[href^=" https://pinterest.com/pin/create/link/?"],
.social-likes,
.social-block,
.ad-root,
.ad-point,
[href^="https://mypillow.com/"]>img,
a[href^="http://www.facebook.com/sharer.php?"],
.adActive,
.social-tab,
#adv-Top,
.banneritem,
a[href^="http://www.tumblr.com/share"],
.ads-block,
.ad-top,
.sns_button,
.socseti,
.ipsAd,
.adclass,
.AdsBox,
.socialNetworks,
.advert-wrap,
.share-list,
#ad_img,
.adbox2,
.socialbuttons,
#ps-vertical-ads,
.adthrive-video-player,
a[href^="http://facebook.com/sharer.php?"],
.column-ad,
#rightAd,
.widget-ad-image,
#vkontakte-icon,
.soc-button,
#topBannerAd,
#top_ads,
a[href*="//band.us/plugin/share?"],
a[href*="pinterest.com/pin/create/button"],
#right_ads,
a[href^="https://twitter.com/share"],
.item-ads,
.companion-ads,
.social-sharing,
.shareButtons,
.wall-ads-control,
a[href="http://www.facebook.com/sharer.php"],
a[href^="https://twitter.com/home?"],
#ad-1,
#adBanner:not([style^="position: absolute; left: -5000px"]):not([data-testid="adBlockTest"]),
a[href^="https://www.facebook.com/sharer?"],
#ad-2,
.facebook-share,
.page_ad,
.ad-popup,
.social-icons-big,
.ad_main,
.ad_title,
a[href^="https://getpocket.com/save?url="],
.header-advert,
.ad-button,
.adright,
a[href^="//reddit.com/submit?url="],
a.odkl-klass,
#ad_global_above_footer,
a[href^="https://reddit.com/submit"],
a[href^="https://facebook.com/sharer/sharer.php?"] {
    display: none !important;
}

#ad_1,
.share_article,
#ads1,
.share-block,
#ads-right,
#headerAd,
a[href^="https://www.ok.ru/dk?st.cmd=addShare"],
.AdSense,
#advertbox3,
.dfp-ad-unit,
.widget_viral_advertisement,
.social_google,
.article_ad,
.adChoicesLogo,
.ad__item,
.share_buttons,
#ad-lead,
[id^="google_ads_iframe"],
.AdBar,
.body-top-ads,
.addthis_toolbox,
.share-hatebu,
body div a[class*="pin_it_button"],
#weatherad,
a[onclick^="window.open('http://vk.com/share.php"],
.share-btn,
.AdBox,
.share-hatena,
.qc,
#top-ad-unit,
a[onclick^="window.open('https://www.facebook.com/sharer/sharer.php"],
.bottomAd,
#ad_txt,
a.odkl-klass-s,
#post-ad,
a[href*="//b.hatena.ne.jp/append?"],
.ad_300x250,
.et_social_pinterest,
.trc_rbox_div .syndicatedItem,
#dnn_adSky,
a[href^="https://web.whatsapp.com/send?text="],
a[href^="https://www.facebook.com/sharer/sharer.php"],
.widget-advads-ad-widget,
a[href^="http://vkrugudruzei.ru/x/button?url="],
.social_wrapper,
.single-ads,
a[onclick^="window.open ('https://twitter.com/intent/tweet?"],
#share_bar,
a[href^="https://twitter.com/intent/tweet/?"],
.textad,
.featuredAds,
.advert_box,
#admain,
.mixi-check-button,
.adcard,
#adbar,
a[href^="http://www.friendfeed.com/share?"],
.adResult,
#hp-store-ad,
#ads_content,
#adbox,
#adsContainer,
.footer-ad,
[href^="https://www.reimageplus.com/"],
.sponsored-article,
.social-networks,
#sharer,
.ad-wrap,
.social-share,
.ad-area,
.ads_right,
.videos-ad,
.ad-message,
a[onclick*="//band.us/plugin/share?"],
a[href^="//www.reddit.com/submit"],
.adthrive-content,
.ads_block,
a[href^="https://www.tumblr.com/share"],
.vertical-ad,
div[class^="native-ad-"],
.fixed_ad,
#adframe:not(frameset),
.b-header-banner,
.social-sidebar,
#downloadAd,
.ad_center,
.odkl-share_button,
.meta-share,
a[href^="https://service.weibo.com/share/share.php"],
a[href^="http://twiter.com/share?"],
.social-wrapper,
[data-ad-width],
#side_ad,
.bottom-ad,
a[href^="https://www.facebook.com/sharer.php"],
#shareBar,
.is-ad,
a[href^="http://www.stumbleupon.com/submit?url"],
iframe[width="728"][height="90"],
#sky_advert,
.DiggThisButton,
.ad-source,
a[href^="https://ad.doubleclick.net/"],
#adspace,
.fb-like,
a[href^="http://connect.qq.com/widget/shareqq/"],
.ads-title,
.banner_728x90,
.social_share,
[href^="http://globsads.com/"],
.social-button-small,
.adcenter,
.bannervcms,
.adholder,
a[href^="https://www.pinterest.com/pin/create/link/"],
a[href*="//plusone.google.com/_/+1/confirm?"],
a[href^="//plus.google.com/share"],
.penci-google-adsense,
.advertisement__leaderboard,
.share-btns,
#frameAd,
.like_buttons,
.ad-slot,
#adDiv300,
[href*="://clkpl.tradedoubler.com/"],
div[id^="vk_like"],
[data-adblockkey],
.ProductAd,
.line-it-button,
.avp-p-wrapper,
a[href^=" http://www.reddit.com/submit"],
.social-menu,
#aniview--player,
.region-ad-top,
.top-share,
.has-ad,
.ad-element,
a[onclick^="window.open('http://getpocket.com/edit?"],
a[href^="https://tm-offers.gamingadult.com/"],
.trc_rbox .syndicatedItem,
[class*="box-advert"],
#ad-rotator,
#flickr_badge_source,
.adholder2,
.ads_header,
.google-ad,
.advBox,
.gptslot,
.adheader,
.hatena-bookmark-button-frame,
.social_bar,
a[href^="bandapp://create/post"],
a[href^="//www.facebook.com/sharer.php?"],
a[href^="https://twitter.com/intent/retweet?tweet_id"],
.node-ad,
.social_btn,
div[id^="ezoic-pub-ad-"],
.ad_box,
a[onclick^="window.open('https://connect.ok.ru/dk?st.cmd=WidgetSharePreview"],
.ad_btn,
.icon-reddit,
.adcont,
div[id^="yandex_ad"],
.adlink,
#article_ad,
.adsense_wrapper,
a[href^="http://digg.com/submit?"],
.adtitle,
.adlist,
.advertSlider,
.google-buzz-button,
a[href^=" https://twitter.com/share"],
#ad-bigsize,
a[href^="line://msg/"],
.widget-advertisement,
.vertical-ads,
#vkshare0,
.top-ad,
.ad-content-area,
.mashsb-main,
.ad-content,
.ad-outside,
#adWrap,
#ad_middle,
#ads-text,
.topAd,
iframe[width="240"][height="400"],
IMG[alt="Reklama"],
.l-box--99.l-box>.text-center,
.social_fix,
.fblike,
a[href^="https://share.yandex.ru/go.xml?service="],
.cardAd,
#ad-target,
#leaderboard-ad,
a[href^="http://www.facebook.com/dialog/feed?"],
a[href^="http://www.ok.ru/dk?st.cmd=addShare"],
.connatix-wrapper,
#socialIcons,
.share-line,
#adtop,
a.mrc__plugin_recommendations,
.side-ad,
a[href^="https://ru.reddit.com/submit"],
.ad_item,
[onclick^="window.open('https://www.facebook.com/share.php?"],
[data-ad-manager-id],
a[href^="https://twitter.com/home/?"],
.soc-buttons,
a[href^="https://www.stumbleupon.com/submit?url="],
#ad-header:not([style^="position: absolute; left: -5000px"]),
a[href^="http://technorati.com/faves?add="],
.ads-300x300,
#sidebar_ad_1,
div[class^="widget-social"],
.ad_img,
.social-widget,
a[href^="http://service.weibo.com/share/share.php"],
.adsBanner,
a[href^="http://facebook.com/share.php?"],
.adtable,
.share-button,
#body_ad,
#google-ad,
.ad-space,
a[href^="https://twitter.com/intent/follow?"],
#reklama,
.adhead,
.ad_container,
a[href^="http://connect.ok.ru/offer?url="],
iframe[width="100%"][height="120"],
.ads_single_center,
.text_ads_2,
.advert_area,
.head_ad,
.header-ad,
iframe[width="200"][height="240"],
.socialbutton:not(.dropdown-menu.pull-right),
.banner-468x60,
.oas-container,
#share-container,
a[href^="https://line.me/R/share?"],
a[href*="pinterest.com/pin/create/bookmarklet/"],
.socialShare,
#advtop,
.adunit,
.advert-container,
.top-banners,
[href^="https://zstacklife.com/"] img,
#social-widget,
a[href^="https://feedly.com/i/subscription/"] {
    display: none !important;
}

#ad-block,
.responsive-ad-wrapper,
.sidebar-ads,
.adsbyvli,
.homeadv,
#socials,
#adBanner1,
a[href^="http://share.yandex.ru/go.xml?service="],
.fa-pinterest-square,
.fa-reddit-square,
.TopAdContainer,
.social-row,
.mntl-leaderboard-spacer,
.serversidenativead,
.share-panel,
[id^="div-gpt-ad"],
.channelBoxAds,
#top_ad,
#fb_groups,
.social-bar,
.penci-adsense-below-slider,
.adthrive,
.ads_wrapper,
.jquery-script-ads,
.adsbygoogle-noablate,
.ad-body,
.wrapper-ad,
.content_ads,
.publicidade,
#bottom_ads,
a[href^="https://www.livejournal.com/update.bml"],
.google-ads,
#twitter-icon,
.display_ad,
#adsense-bottom,
#showads,
a[href^="https://natour.naughtyamerica.com/track/"],
.ad_top,
.adsense-block,
a[href^="http://line.me/R/share?"],
.ad-text,
.ad-center,
.c-ads,
.sns-group,
.ad-holder,
a[href^="http://click.payserve.com/"],
.chitika-ad,
div[id^="rtbuzz_"],
[onclick^="window.open('http://www.facebook.com/share.php?"],
.banners_block,
.banner-ad,
.social-media-share,
.native-ad-container,
#midadd,
#flickr_badge_uber_wrapper,
.banner-728x90,
a[href^="//twitter.com/share"],
a[href^="http://www.digg.com/submit?"],
.ad-section,
img[width="468"][height="60"],
a.mrc__share,
.sponsor_image,
.shareContent,
iframe[width="240"][height="300"],
.after-post-ad,
a[href^="http://metrika.yandex.ru/stat/"],
#SponsoredLinks,
iframe[width="468"][height="60"],
.content-share,
.ad-wrapper,
.advert2,
.adverts,
.logo-ad,
a[href^="https://redirect.ero-advertising.com"]>img,
#sharebox,
.twitter-share,
.ad-header,
.addthis-smartlayers,
body .twitter-share-button,
a[onclick^="window.open ('http://www.twitter.com/share?url="],
.adace-slot,
.ad-enabled,
.right-ad,
.bottom_ad_block,
.ads-box,
a[href*="//www.facebook.com/share.php"],
#adcontainer,
a.mrc__plugin_share_friends,
#kakaostory-share-button,
.AdsSlot,
.ad300,
#ads-left,
.plainAd,
.ads-header,
[href^="https://www.herbanomic.com/"]>img,
.wppaszone,
#adcontent,
.display-ad-block,
a[href^="http://twitter.com/?status="],
#googleAds,
A[href$="/reklama"],
div[aria-label="Ads"],
a[onclick^="window.open('//getpocket.com/edit?url="],
a[href^="//vk.com/share.php"],
.fa-linkedin-square,
.ads-image,
a[href^="//connect.ok.ru/dk?st.cmd=WidgetSharePreview"],
a[href^="//www.livejournal.com/update.bml"],
.fixed-social,
.article-line,
#share-facebook,
.ad_space,
.et_social_icons_container,
.article-share,
[data-ad-module],
a[href^="http://www.twitter.com/share"],
#adlabel,
#wrapAd,
a[href^="https://facebook.com/share.php?u="],
#adv_config,
a[href^="http://www.twitter.com/home?"],
.large-advert,
[id^="ads_"],
#banner-ad,
#vk_groups,
.odkl-share-oc-fc,
.adzone,
.advert-block,
a[href^="https://metrika.yandex.ru/stat/"],
.entry-share,
.fshare,
a[href*="//getpocket.com/edit?"],
input.vk,
.sponsorad,
.adscenter,
.advertising_block,
a[onclick^="window.open('https://twitter.com/share"],
.ad-inner,
#ad_left_top,
#ad_block,
.skyscraper.ad,
#sb_instagram,
.waldo-display-unit,
.ad-card,
.block-ad,
.ad-links,
#mini-ad,
.social_buttons,
.btn_share,
.b-social,
:not(.sharingOptionsGroup)>.share-menu,
a[onclick^="bandapp://create/post"],
.adsbyexoclick,
.vk-like,
.ad-cover,
.rightAd,
#adContainer,
.AdHere,
.fb-page,
div[id^="crt-"][style],
.bg_ad,
.et_social_facebook,
#AdHeader,
.adslot_1,
#GoogleAd2,
a[onclick^="window.open('https://vk.com/share.php"],
.large-right-ad,
.react-share__ShareButton,
a[href^="https://www.google.com/bookmarks/mark?"],
.adv-banner,
.social_networks,
.ad_banner,
.ad-grid,
.advert-detail,
.article-advert,
div[data-ad-targeting],
[href^="https://mystore.com/"]>img,
[onclick^="window.open('https://twitter.com/intent/tweet"],
#google-ads,
.skinAd,
.ad_spot,
a[href^="https://twitter.com/intent/tweet?"],
.takeover-ad,
a[href="http://www.addtoany.com/share_save"],
.mainAd,
.socialBar,
.adsList,
a[href^="https://plus.google.com/share"],
#adv-text,
.odkl-share-oc,
.advertiser,
[href^="https://mypatriotsupply.com/"]>img,
a[href^="http://www.google.com/bookmarks/mark?"],
a[title="Share on Facebook"],
.td-a-rec,
.promoAd,
.img-share,
.jeg_ad_top,
.ad-post,
.Adsense,
.socialContainer,
.share__link,
.module_ad,
.trc_rbox_border_elm .syndicatedItem,
#publicidad,
.advertising_banner,
.linkedin-share,
.ad-1,
a[href^="http://www.myspace.com/Modules/PostTo/Pages/?u="],
a[href^="https://vk.com/share.php"],
.bannerBox,
a[onclick*="//share.naver.com/"],
.header-ad-row,
.single_ad,
.sharebox,
div[id^="div-gpt-"],
.share-icon,
a[href^="https://www.twitter.com/intent/tweet?"],
.ads-top,
[data-advadstrackid],
.nativead,
.post-ad,
.shareBar,
.ad_bottom,
#facebook-icon,
.adv-box,
.ads1,
.shareBtn,
a[name="fb_share"],
#ad-wrapper,
.redes-sociales,
a[href^="http://del.icio.us/post?url="],
.adrect,
.ad-label,
a[href^="https://www.facebook.com/dialog/feed?"],
a[href^="http://www.pinterest.com/pin/create/"],
.largeAd,
a[href^="https://m.facebook.com/sharer.php"],
.googleAd,
#AD_160,
#ad_banner,
#page_ad,
.social-widgets,
a[onclick^="window.open ('http://www.facebook.com/sharer.php"],
#ad-ads,
.googlead,
#vk_group,
.ads-loaded,
#ad_160,
.adBlock {
    display: none !important;
}

a[href^="https://share.yandex.net/go.xml?service="],
.share-facebook,
.section-ads,
a[href^="http://www.sharethis.com/share/?publisher="],
#ad-box,
#adwrapper,
[title="Compartir en Facebook"],
.ad_global_header,
.boxAds,
a[href^="https://www.odnoklassniki.ru/dk?st.cmd=addShare"],
a[onclick*="//www.facebook.com/"][onclick*="sharer.php"],
#adbannerdiv,
#topAd,
.page-social,
a[href^="http://www.wykop.pl/dodaj/link/url,"],
.adVertical,
.social-btn-block,
.googleads,
.ad-banner-container,
#pubblicita,
.c-ad,
a[onclick^="window.open('https://www.linkedin.com/shareArticle?"],
#advertise,
.product-ad,
.video-ads,
a[href*="http://twitter.com/share"],
.trc_related_container div[data-item-syndicated="true"],
#adlayer,
.middlead,
#homead,
.soc-links,
#odklocs0,
#odklocs1,
.topads,
#videoAd,
[href^="http://mypillow.com/"]>img,
.socialLinks,
.ad_links,
a[href^="https://pubads.g.doubleclick.net/"],
.ad_content,
.left_ad,
a[href^="//www.facebook.com/sharer/sharer.php?"],
a[href^="https://www.linkedin.com/shareArticle"],
.overlay-ads,
#adclose,
.adspace,
.addThis,
a[href^="https://news.ycombinator.com/submitlink?"],
a[href^="http://feedly.com/i/subscription/"],
.ad-hero,
.ad_body,
a[href^="https://www.facebook.com/dialog/send"],
.adHolder,
.ads_container,
.adv-container,
.share-post,
#adcontainer1,
#mod_ad,
[href^="https://noqreport.com/"]>img,
.et_social_networks,
.sns_list,
#ad_container,
.inline-ad,
#social_share,
.adsbottombox,
#ads-menu,
.ad-unit,
.SocialButtons,
.adContent,
.gallery-ad,
.sponsoredItem,
.ad__container,
a[href^="http://linkedin.com/shareArticle?"],
.facebook-like,
.category-advertorial,
.adMiddle,
.share-twitter,
.ad-sidebar,
a[href^="https://api.whatsapp.com/send?text="],
.header_ad,
#googlead2,
.adRow,
.ad-med-rec,
.adsTop,
a[href*="//b.hatena.ne.jp/add?"],
[data-ad-cls],
.page-ad,
a[href^="https://pinterest.com/share?url="],
a[href^="https://www.sheetmusicplus.com/"][href*="?aff_id="],
.pbs__player,
#social-media,
.sidebaradbox,
[title="Compartir en Twitter"],
.smallads,
.nav-social:not(body):not(html),
#prerollAd,
.socialmedia,
#search_ad,
a[href^="http://www.liveinternet.ru/stat/"],
.headerads,
.share-text,
#adTower,
a[href^="http://www.livejournal.com/update.bml"],
.dfp-tag-wrapper,
a[href^="http://pinterest.com/pin/create/link/"],
.os-header-ad,
.adv-top,
a[href^="http://www.reddit.com/submit"],
[href^="https://www.mypatriotsupply.com/"]>img,
a[href^="https://connect.ok.ru/dk?st.cmd=WidgetSharePreview"],
#ad-makeup,
.header-social,
.gpt-ad,
#vk_poll,
#footerAd,
a[href^="https://connect.ok.ru/dk?cmd=WidgetSharePreview"],
.ad-block,
a[href^="https://kooapp.com/create?title="],
#bottomAd,
.social_twitter,
.ad-card-container,
.trc-content-sponsored,
#footerad,
#bottomad,
.adscontainer,
.likely,
a[onclick^="window.open('https://telegram.me/share/url?"],
a[href^="https://vkontakte.ru/share.php"],
[id$="reklamy"],
ins.adsbygoogle,
.google_ads,
.adv-skin,
#ad-carousel,
.adwords,
.adv_esterno,
iframe[width="300"][height="250"],
.socialite,
div[id^="ad_position_"],
#ad-top,
.share__button,
#socialbar,
#ad-slot,
iframe[width="100%"][height="90"],
.adcomment,
#ad-stripe,
.fb-button,
#inner-top-ads,
a[href^="http://vk.com/share.php"],
#HouseAd,
#adContext,
.article_share,
[href^="https://www.restoro.com/"],
.social2,
.share-buttons,
.ads-banner,
.sidebar_advert,
.advert_list,
[href^="https://www.mypillow.com/"]>img,
#header_ad,
.contentAds,
.ads-card,
.advertisement-block,
a[href^="https://ok.ru/dk?st.cmd=addShare"],
a[href^="whatsapp://send"],
#omnibar_ad,
.social-count-plus,
.share-page,
#ad-p3,
a[href^="https://connect.ok.ru/offer?url="],
.social-share-links,
.vk_share_button,
.ya-share2,
a[href^="https://facebook.com/sharer.php?"],
a.odkl-klass-stat,
.tile-ad,
.adText,
.banner-ad-container,
a[href^="//twitter.com/intent/tweet?"],
.banner_ad,
.postad,
.btn_fb,
.reklama,
#vk_share,
#fb-root:not(body):not(html),
div[id^="dfp-ad-"],
.adsleft,
.ad.widget,
a[href^="http://vkontakte.ru/share.php"],
.ad-notice,
img[width="728"][height="90"],
.adsizewrapper,
.adSense,
.adsbar,
a[href^="//www.odnoklassniki.ru/dk?st.cmd=addShare"],
.sponsored_ad,
.sidebar-ads-container,
a[href*="/ad/click/"],
.AD-POST,
.box_ads,
.shareComment,
.ads.widget,
#sponsorText,
.sociallinks {
    display: none !important;
}