/*---------- example css ----------*/
.m-footer {
  background: #2a282f;
  height: 65px;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  .container {
    height: 100%;
  }
  &__list {
    display: flex;
    align-items: center;
    height: 100%;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      li {
        float: left;
        width: calc(100% / 4);
      }
    }
  }
  &__item {
    text-align: center;
    img {
      display: block;
      margin: 0 auto 7px auto;
      height: 20px;
      width: auto;
    }
    span {
      color: $color-white;
      font-size: 12px;
      &.is-active {
        color: $color-secondary;
      }
    }
  }
}
.d-footer {
  padding: 15px 0;
  background: #c2002a;
  .d-footer-box {
    text-align: center;
    img {
      height: 45px;
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
  .m-footer {
    &__item {
      span {
        font-size: 13px;
      }
    }
  }
}
@media (min-width: $screen-md-min) {
  //ipad portrait
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
}
@media (min-width: 1440px) {
  //pc & mac 1440px grow up
}
@media (min-width: 1900px) {
  //pc & mac 1900px grow up
}
//end example responsive css
/*---------- end example css ----------*/
