/*---------- example css ----------*/
.m-header-home {
  background: $color-bg1;
  padding: 15px 0;
  @include border-radius(0 0 30px 30px);
  &__logo {
    text-align: center;
    margin-bottom: 24px;
    img {
      max-width: 215px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    &__item {
      display: inline-flex;
      align-items: center;
      padding: 0 19px;
      // &:first-child {
      //   padding-left: 0;
      //   border-right: 1px solid #818285;
      // }
      // &:last-child {
      //   padding-right: 0;
      // }
      img {
        display: inline-block;
        padding: 0 4px;
        max-width: 40px;
      }
      span {
        color: #818285;
        font-size: 16px;
        padding: 0 2px;
        display: inline-block;
      }
      b {
        color: $color-secondary;
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        padding: 0 2px;
      }
    }
  }
}
.d-header {
  background: $color-bg3;
  padding: 15px 0;
  position: relative;
  z-index: 25;
}
.d-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: calc(100% / 3);
    img {
      max-width: 286px;
      cursor: pointer;
      max-height: 50px;
    }
  }
  &__search {
    width: calc(100% / 3);
    position: relative;
    z-index: 1;
    .form-group {
      position: relative;
      z-index: 1;
      @include border-radius(10px);
      overflow: hidden;
      .form-control {
        height: 40px;
        font-size: 14px;
        background: $color-white;
        color: $color-black;
        @include placeholder(#818285, $font-roboto);
        padding-right: 70px;
        border: 1px solid transparent;
      }
      .btn {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        height: 100%;
        width: 70px;
        @include transition-default;
        @include border-radius(0 10px 10px 0);
        img {
          max-width: 20px;
        }
      }
      .spinner-wrapper {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 75px;
        height: 100%;
        display: flex;
        align-items: center;
        span {
          color: $color-secondary;
        }
      }
    }
    &__dropdown {
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 300px;
      background: $color-white;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background: $color-white;
      }
      &::-webkit-scrollbar-thumb {
        background: $color-secondary;
        @include transition-default;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $color-primary;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          padding: 5px;
          display: flex;
          align-items: center;
          cursor: pointer;
          .is-left {
            margin-right: 10px;
            img {
              max-width: 50px;
            }
          }
          .is-right {
            text-align: left;
            b {
              color: $color-black;
              font-size: 12px;
              display: block;
            }
            span {
              color: $color-black;
              font-size: 10px;
              display: block;
            }
          }
        }
      }
    }
  }
  &__user {
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-flex;
        align-items: center;
        &:first-child {
          padding-right: 20px;
          border-right: 1px solid #818285;
        }
        &:last-child {
          padding-left: 20px;
        }
        .is-img {
          margin-right: 5px;
          img {
            max-width: 30px;
          }
        }
        .is-des {
          span {
            display: block;
            color: #818285;
            font-size: 12px;
          }
          b {
            display: inline-flex;
            color: $color-secondary;
            font-size: 13px;
            font-weight: 400;
            align-items: center;
          }
        }
      }
    }
    &__avatar {
      margin-left: 10px;
      cursor: pointer;
      position: relative;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 100%;
        right: 0;
        height: 30px;
        width: 83px;
      }
      .is-img {
        width: 40px;
        height: 40px;
        @include border-radius(50%);
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .is-dropdown-menu {
        position: absolute;
        z-index: 3;
        top: 100%;
        right: 0;
        width: 270px;
        background: $color-bg3;
        padding: 5px 0;
        visibility: hidden;
        opacity: 0;
        @include transition-default;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            display: block;
            padding-left: 23px;
            padding-right: 23px;
            &:first-child {
              padding-right: 23px;
            }
            &:last-child {
              padding-left: 23px;
              a {
                border: 0;
              }
            }
            a {
              display: block;
              padding: 10px 0;
              font-size: 14px;
              color: $color-black;
              @include transition-default;
              text-decoration: none;
              border-bottom: 1px solid $color-primary;
              &:hover {
                color: $color-secondary;
              }
            }
          }
        }
      }
      &:hover {
        .is-dropdown-menu {
          visibility: visible;
          opacity: 1;
          top: calc(100% + 10px);
        }
      }
    }
  }
}
.m-header-moblie {
  background: $color-bg3;
  height: 80px;
  padding: 20px 62px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 30px;
    position: absolute;
    z-index: 2;
    left: 20px;
    width: 12px;
    filter: invert(17%) sepia(97%) saturate(6187%) hue-rotate(341deg) brightness(89%) contrast(110%);
  }
  span {
    color: $color-secondary;
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 11px;
  }
}
.m-header-nav {
  background: $color-bg3;
  padding: 0 15px 12px 15px;
  position: absolute;
  z-index: 2;
  width: 100%;
  .nav-item {
    a {
      font-weight: 600;
      color: $color-black;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}

.m-header-moblieswap {
  background: $color-bg3;
  padding: 20px percentage(35/414);
  text-align: center;
  @include border-radius(0 0 30px 30px);
  position: relative;
  z-index: 99;
  &__back {
    /* position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 12px; */
    height: 30px;
  }
  &__title {
    color: #ee0033;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
  }
  .m-header-share {
    position: relative;
    z-index: 98;
    .d-header-box__search__dropdown {
      img {
        position: relative;
        top: auto;
        right: auto;
        @include transform(translate(0, 0));
      }
    }
    input {
      width: 100%;
      max-width: 345px;
      height: 40px;
      padding: 0 10px;
      background: $color-white;
      @include border-radius(18px);
      border: none;
      color: $color-black;
      &::placeholder {
        font-size: 13px;
        color: #818285;
      }
      &:focus {
        outline: none;
        @include box-shadow(none);
        border: 1px solid $color-secondary;
      }
    }
    img {
      position: absolute;
      z-index: 2;
      right: 10px;
      transform: translateY(-50%);
      top: 50%;
      width: 22px;
      filter: brightness(0.5);
    }
    .spinner-wrapper {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      span {
        color: $color-secondary;
      }
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  .m-header-moblieswap {
    .m-header-share {
      img {
        right: 24%;
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
}
@media (min-width: 1440px) {
  //pc & mac 1440px grow up
}
@media (min-width: 1900px) {
  //pc & mac 1900px grow up
}
//end example responsive css
/*---------- end example css ----------*/
